/*****************************************************
 * Magic Mirror 2                                    *
 * Custom CSS for MMMM-HASS-Chart                    *
 *                                                   *
 * By Marius Herget                                  *
 * MIT Licensed.                                     *
 *                                                   *
 *****************************************************/
.MMM-HASS-Chart {
	width: 500px;
	height: 220px;
	background-color: #000000;
}